# Rules

In [1]:
with open('evaluation/rules.txt') as f:
    rules = f.read()
print(rules)

1. Адекватность: модель адекватно оценивает соответсвие резюме вакансии. Если резюме совсем не подходит к вакансии, она прямо говорит об этом.
2. Достоверность (надежность): модель не оперирует информацией, которой нет в описании вакансии/резюме.
3. Полезность: ответ не состоит из очевидных вещей, модель дает действительно ценные советы о том, какие темы можно изучить или как переформулировать резюме, для лучшего соответсвовия вакансии.
4. Честность: модель не предлагает пользователю соврать о своих навыках. Однако онна может предложить изучить некоторые темы.
5. Лингвистическая корректность: ответ не содержит орфографических, грамматических, пунктуационных ошибок.
6. Связность: ответ логически связен.

# Evaluation

In [3]:
import sys
sys.path.append('../src')

from evaluator import Evaluator

In [ ]:
Evaluator().run()

CV: data/CVs/asu_tp.txt
Vacancy:data/Vacancies/asu_tp/3.txt

guidelines: Оценка 5/10: Кандидат имеет много опыта, часть из навыков совпадает с требованиями из вакансии, указан другой город, но наш кандидат готов к переезду, поэтому это не будет проблемой.

First of all, your CV provides basic information like work experience and education, which is perfect. However, I suggest that you provide more details about your experience in the field of automation and control systems. Could you give some examples of the projects you have worked on and how you applied your knowledge of programming languages such as CoDeSys, Step7, and TIA Portal? Additionally, you mentioned that you are proficient in developing SCADA systems, but could you give more information about the software you are familiar with and the specific SCADA systems you have worked with?

Secondly, you stated that you have worked on several projects in the field of automation and control systems, but you haven't provided any specific examples. Please do so, as this will help the employer understand how your skills match their needs.

Thirdly, your CV doesn't give any indication of your skills in communication and teamwork. As the job description mentions that periods of commandering of about one week may occur, it is essential to showcase your ability to collaborate with your team and clients. Please add a few lines about your experience in these areas.

Lastly, since the job is located in Belgrade and the salary range is specified, I assume that this is a location-specific job. Make sure that you mention how your current location can be an advantage and that you are willing to relocate if needed.

Overall, your CV provides a good overview of your experience and education in automation and control systems. However, to increase your chances of getting hired, it is crucial to provide more details about your skills and experience in certain areas. Follow my suggestions, and your CV will be ready to present to potential employers!

# Results

In [1]:
import os
import json
import pandas as pd

def aggregate_evaluations(eval_dir='evaluation/results'):
    criteria = ['adequacy', 'reliability', 'usefulness', 'honesty', 'linguistic correctness', 'coherence']
    agg_criteria = {criterion:'mean' for criterion in criteria}
    all_evals = []
    fnames = [fname for fname in os.listdir(eval_dir) if fname.endswith('.json')]
    for i, fname in enumerate(fnames):
        path = os.path.join(eval_dir, fname)
        with open(path) as jf:
            evals = json.load(jf)
        for report_id, report in evals.items():
            eval = {'id':report_id, 'annotator':i, **report}
            all_evals.append(eval)
    return pd.DataFrame(all_evals).groupby(['model', 'do_sample', 'temperature']).agg({'id':'count', **agg_criteria}).round(2)

In [2]:
results = aggregate_evaluations()
results.style.highlight_max(color='green', axis=0)